name = "rhel-for-edge-demo"
description = "End to end demo"
version = "{{ blueprint_version }}"
modules = []
groups = []

[[packages]]
name = "rhc"
version = "*"

[[packages]]
name = "rhc-worker-playbook"
version = "*"

[[packages]]
name = "subscription-manager"
version = "*"

[[packages]]
name = "subscription-manager-plugin-ostree"
version = "*"

[[packages]]
name = "insights-client"
version = "*"

[customizations]
hostname = "20210222-rhel-edge-demo-doodad"

