[remote "{{ostree_remote_name}}"]
url={{ostree_remote_url}}
gpg-verify={{ostree_gpg_verify|default("true")}}
gpgkeypath={{ostree_gpg_keypath|default("/etc/pki/rpm-gpg/")}}
contenturl={{ostree_content_url}}
